<a href="https://colab.research.google.com/github/Sumanth1242/MKsumanth_data690/blob/main/Assignment_05/Assignment_05_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
g7_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [4]:
g7_pop.name = 'G7 Population in millions'
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [6]:
g7_pop[6]

318.523

In [7]:
k = ['a', 'b', 'c']

In [8]:
g7_pop.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [9]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [10]:
pd.Series({
    'Canada': 35.467,
    'France': 63.951,
    'Germany': 80.94,
    'Italy': 60.665,
    'Japan': 127.061,
    'United Kingdom': 64.511,
    'United States': 318.523
}, name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [11]:
pd.Series(g7_pop, index=['France', 'Germany', 'Italy', 'Spain'])

France     63.951
Germany    80.940
Italy      60.665
Spain         NaN
Name: G7 Population in millions, dtype: float64

# Indexing

In [12]:
g7_pop['Canada']

35.467

In [15]:
g7_pop.iloc[1]

63.951

In [17]:
g7_pop['France': 'Italy']

France     63.951
Germany    80.940
Italy      60.665
Name: G7 Population in millions, dtype: float64

# Conditional selection

In [18]:
g7_pop > 90

Canada            False
France            False
Germany           False
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool

In [19]:
g7_pop[g7_pop > 90]

Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [20]:
g7_pop[g7_pop > g7_pop.mean()]

Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [21]:
g7_pop[(g7_pop > g7_pop.mean() - g7_pop.std() / 2) | (g7_pop > g7_pop.mean() + g7_pop.std() / 2)]

France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

# Operations and methods

In [22]:
g7_pop * 1_000_000

Canada             35467000.0
France             63951000.0
Germany            80940000.0
Italy              60665000.0
Japan             127061000.0
United Kingdom     64511000.0
United States     318523000.0
Name: G7 Population in millions, dtype: float64

In [23]:
np.log(g7_pop)

Canada            3.568603
France            4.158117
Germany           4.393708
Italy             4.105367
Japan             4.844667
United Kingdom    4.166836
United States     5.763695
Name: G7 Population in millions, dtype: float64

In [24]:
g7_pop['France': 'Italy'].mean()

68.51866666666666

# modifying no of column

In [29]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [25]:
langs = pd.Series(
    ['French', 'German', 'Italian'],
    index=['France', 'Germany', 'Italy'],
    name='Language'
)

In [26]:
langs

France      French
Germany     German
Italy      Italian
Name: Language, dtype: object

In [30]:
df['Language'] = langs
df

   Population       GDP  Surface Area    HDI Continent Language
0      35.467   1785387       9984670  0.913   America      NaN
1      63.951   2833687        640679  0.888    Europe      NaN
2      80.940   3874437        357114  0.916    Europe      NaN
3      60.665   2167744        301336  0.873    Europe      NaN
4     127.061   4602367        377930  0.891      Asia      NaN
5      64.511   2950039        242495  0.907    Europe      NaN
6     318.523  17348075       9525067  0.915   America      NaN

# Replacing values

In [32]:
df['Language'] = 'English'
df

   Population       GDP  Surface Area    HDI Continent Language
0      35.467   1785387       9984670  0.913   America  English
1      63.951   2833687        640679  0.888    Europe  English
2      80.940   3874437        357114  0.916    Europe  English
3      60.665   2167744        301336  0.873    Europe  English
4     127.061   4602367        377930  0.891      Asia  English
5      64.511   2950039        242495  0.907    Europe  English
6     318.523  17348075       9525067  0.915   America  English

# Adding

In [38]:
df.append(pd.Series({
    'Population': 3,
    'GDP': 5
}, name='China'))

       Population         GDP  Surface Area    HDI Continent
0          35.467   1785387.0     9984670.0  0.913   America
1          63.951   2833687.0      640679.0  0.888    Europe
2          80.940   3874437.0      357114.0  0.916    Europe
3          60.665   2167744.0      301336.0  0.873    Europe
4         127.061   4602367.0      377930.0  0.891      Asia
5          64.511   2950039.0      242495.0  0.907    Europe
6         318.523  17348075.0     9525067.0  0.915   America
China       3.000         5.0           NaN    NaN       NaN

In [39]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America